body {
  font-family: "Roboto Slab", serif;
  background: rgb(94, 92, 92);
  background: radial-gradient(
    circle,
    rgba(94, 92, 92, 1) 0%,
    rgba(49, 49, 49, 1) 78%
  );
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

li::first-letter {
  text-transform: capitalize;
}

.all-in-one {
  max-width: 600px;
  min-width: 600px;
  margin-bottom: 15px;
}

.weather-forecast {
  max-width: 600px;
  min-width: 600px;
  border-radius: 10px;
  background: rgb(135, 142, 157);
  background: linear-gradient(
    185deg,
    rgba(135, 142, 157, 1) 0%,
    rgba(79, 109, 122, 1) 100%
  );
  border: 0px solid #dadde1;
  color: #ffff;
  padding: 20px;
  margin-top: 15px;
  margin-left: 0px;
  text-align: center;
}

.weather-forecast-date {
  color: #25323f;
}

.weather-forecast-temps {
  color: #2e3e4d;
  font-size: 13px;
}

.weather-forecast-temp-max {
  color: #25323f;
}

.search-background {
  border: 0px solid #dadde1;
  border-radius: 10px;
  background: rgb(220, 224, 233);
  background: linear-gradient(
    185deg,
    rgba(220, 224, 233, 1) 0%,
    rgba(192, 214, 223, 1) 100%
  );
  max-width: 600px;
  min-width: 600px;
  padding-top: 10px;
}

.weather-app {
  max-width: 600px;
  min-width: 600px;
  padding: 20px;
  border: 0px solid #dadde1;
  border-radius: 10px;
  background-image: url("img/sea.jpeg");
  border-color: #dbe9ee;
  margin-top: 15px;
}

form {
  padding: 15px;
}

.button-current {
  background: rgb(155, 178, 186);
  background: linear-gradient(
    167deg,
    rgba(155, 178, 186, 1) 0%,
    rgba(108, 133, 142, 1) 78%
  );
  border-radius: 10px;
  border-color: #4f6d7a;
  border: 0px;
  padding: 5px;
  margin: 0px 230px;
  margin-bottom: 10px;
}

.button-current:hover {
  background: rgb(121, 149, 161);
  background: linear-gradient(
    185deg,
    rgba(121, 149, 161, 1) 0%,
    rgba(79, 109, 122, 1) 78%
  );
  border: 0px;
  color: #ffff;
  border-radius: 10px;
  padding: 5px;
  margin: 0px 230px;
  margin-bottom: 10px;
}

.search-button {
  background: rgb(121, 149, 161);
  background: linear-gradient(
    185deg,
    rgba(121, 149, 161, 1) 0%,
    rgba(79, 109, 122, 1) 78%
  );
  color: #ffff;
  border-radius: 10px;
  border: 0px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.title {
  color: #dbe9ee;
  text-align: center;
  font-family: "Bebas Neue", cursive;
  font-size: 50px;
  max-width: 600px;
  margin: 15px auto;
  padding: 0;
}

.city {
  color: #4082a6;
  margin-bottom: 0;
  font-weight: bolder;
}

.weather-info {
  color: #dbe9ee;
  font-size: 16px;
  text-align: right;
  margin-right: 20px;
}

.description {
  color: #dbe9ee;
  font-size: 16px;
  margin-bottom: 20px;
}

.main-temp {
  color: #4082a6;
  font-size: 40px;
  font-weight: bolder;
  margin: 0;
}

.units {
  position: relative;
  font-size: 20px;
  color: #4f6d7a;
  top: -15px;
}

a {
  color: #dbe9ee;
  text-decoration: none;
}

.weather-temperature .active {
  color: #4082a6;
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.forecast-title {
  color: #dbe9ee;
  font-size: 24px;
  margin-left: 0px;
  margin-top: 15px;
  font-weight: bolder;
}

.col-2 {
  float: left;
  padding: 10px;
  cursor: pointer;
  transition: 200ms ease;
  border-radius: 10px;
}

.col-2:hover {
  transform: scale(1.1);
  background: #dadde1;
  color: #222831;
  box-shadow: 0 0 40px -5px rgba(0, 0, 0, 0.2);
}

.note {
  max-width: 600px;
  min-width: 600px;
  padding: 10px;
  margin: 30px;
  font-size: 14px;
  color: white;
}

.open-source {
  color: #7995b2;
}
